.btn {
  background: transparent;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  line-height: 50px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  filter: drop-shadow(0 0 10px #fff);
  transition: 0.2s;
  &__border {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn:hover {
  //   font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  filter: drop-shadow(0 0 1px #fff);
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
