@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-one-dark;
  }
  body {
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
}

@layer components {
  .center-absolute {
    @apply left-1/2 -translate-x-1/2;
  }

  .fade-enter {
    @apply opacity-0;
  }
  .fade-enter-active {
    @apply opacity-100  transition-all duration-300;
  }
  .fade-exit {
    @apply opacity-100;
  }
  .fade-exit-active {
    @apply opacity-0 transition-all duration-300;
  }

  .fade-scale-enter {
    @apply opacity-0 scale-75;
  }
  .fade-scale-enter-active {
    @apply opacity-100 scale-100  transition-all duration-300;
  }
  .fade-scale-exit {
    @apply opacity-100 scale-100;
  }
  .fade-scale-exit-active {
    @apply opacity-0 scale-75 transition-all duration-300;
  }
}
