@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-one-dark;
  }
  body {
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-track {
      background: #fff;
    }
    ::-webkit-scrollbar-thumb {
      background: #5c6980;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
  .show-music-page {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .height-unset {
    height: unset;
  }
}

.ant-table-cell-row-hover {
  background-color: #2429320f !important;
  border-radius: unset !important;
  cursor: pointer;
}

.rhap_button-clear {
  overflow: visible !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: unset !important;
  &.rhap_main-controls-button {
    width: 100% !important;
  }
}
.rhap_main-controls {
  width: 100% !important;
  flex: unset !important;
  justify-content: space-between !important;
}
.rhap_current-time,
.rhap_total-time {
  color: #fff !important;
  font-size: 14px !important;
}
.rhap_current-time {
  margin-right: 5px !important;
}
.rhap_progress-indicator {
  background-color: #fff !important;
  width: 16px !important;
  height: 16px !important;
  top: -6px !important;
}
.rhap_progress-container {
  height: 16px !important;
}
.rhap_progress-bar,
.rhap_progress-filled,
.rhap_download-progress {
  height: 3px !important;
  border-radius: 4px !important;
}
.rhap_progress-filled {
  background-color: #fff !important;
}
.rhap_progress-bar {
  background-color: #242932 !important;
}
.rhap_download-progress {
  background-color: #393f4b !important;
}

.rhap_controls-section {
  margin-top: 25px !important;
}
.rhap_volume-controls,
.rhap_additional-controls {
  flex: unset !important;
}

@layer components {
  .center-absolute {
    @apply left-1/2 -translate-x-1/2;
  }
  .admin-panel__active-link {
    @apply bg-gray-700;
  }
  .fade-enter {
    @apply opacity-0;
  }
  .fade-enter-active {
    @apply opacity-100  transition-all duration-300;
  }
  .fade-exit {
    @apply opacity-100;
  }
  .fade-exit-active {
    @apply opacity-0 transition-all duration-300;
  }

  .fade-scale-enter {
    @apply opacity-0 scale-75;
  }
  .fade-scale-enter-active {
    @apply opacity-100 scale-100  transition-all duration-300;
  }
  .fade-scale-exit {
    @apply opacity-100 scale-100;
  }
  .fade-scale-exit-active {
    @apply opacity-0 scale-75 transition-all duration-300;
  }
}
